* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: block;
    background-color: #eff2fb;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.cuerpo-pagina,
.caja-izda,
.caja-dcha, 
.pie-pagina {
    display: flex;
    margin: 1.2em 2em 0em 3em;
}

/* CAJA IZQUIERDA */
.caja-izda {
    display: block;
    width: 60%;
}

.titulo h1 {
    color: #3d4c87;
    font-weight: 100;
    font-size: 3em;
}

.texto {
    color: #7d808f;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.botones button {
    border: none;
    border-radius: 50px;
    width: 16em;
    height: auto;
    color: white;
    font-weight: bold;
    text-align: left;
}

.botones #app {
    display: flex;
    background: linear-gradient(to right, #ffb55e 20%, #ffd277);
}

.botones #google {
    display: flex;
    background: linear-gradient(to right, #3b44a3 20%, #1c1b79);
}

.botones #app #store {
    background-image: url(../img/apple_ico.jpeg);
    background-repeat: no-repeat;
}

.botones #google #play {
    background-image: url(../img/play_ico.jpeg);
    background-repeat: no-repeat;
}

.botones #app #store,
.botones #google #play {
    background-size: contain;
    width: 1.5em;
    height: 1.5em;
    margin-top: 1.5em;
    margin-left: 2em;
    margin-right: 0.5em;
}

.botones #app #uno, 
.botones #google #uno {
    font-size: 0.8em;
    margin: 1.5em 0em 0em 0em;
}

.botones #app #dos, 
.botones #google #dos {
    font-size: 1.5em;
    margin: 0em 0em 0.65em 0em;
}


/* CAJA DERECHA */
.caja-dcha {
    display: block;
    width: 50%;
}

form {
    background-color: white;
}

.cabecera-form {
    width: 100%;
    height: 4%;
    background: linear-gradient(to right, #5d72c3, #1c1b79);
}

.titulo-form {
    color: #2f2f31;
    margin-left: 2em;
    margin-bottom: 1em;
}

.inputs-form {
    color: #828186;
    margin-left: 2em;
}

.inputs-form label {
    display: none;
}

.inputs-form input {
    display: block;
    background-color: white;
    border: none;
    color: #7d808f;
    height: 5em;

    border-bottom: 1px;
    border-bottom-color: green;
    text-shadow: black;
}

.check-form {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    color: #828186;
    font-size: 0.8em;
}

.check-form label {
    margin-right: 2em;
}

.check-form #forgot {
    display: none;
}


.botones-form {
    font-weight: bold;
    color: white;
    margin-left: 2em;
}

.botones-form button {
    border: none;
    background: linear-gradient(to right, #3b66b4 40%, #1c1b79);
    width: 12em;
    height: 4em;
    color: white;
    font-weight: bold;
}

.titulo-social-form {
    color: #2f2f31;
    margin-left: 2em;
}

.titulo-social-form h5 {
    margin-bottom: 0.5em;
}

.botones-social-form {
    color: white;
    margin-left: 2em;
}

.botones-social-form button {
    height: 50px;
    width: 50px;
    background-position:center;
    border: none;
    cursor: pointer;
}

.botones-social-form #facebook {
    background-image: url(../img/facebook_50.png);
    background-repeat: no-repeat;
}

.botones-social-form #twitter {
    background-image: url(../img/twitter_50.png);
    background-repeat: no-repeat;
}

.botones-social-form #google-plus {
    background-image: url(../img/google_plus_50.png);
    background-repeat: no-repeat;
}

.pie-form {
    display: flex;
    width: 100%;
    height: 15%;
    margin-top: 2em;
    background: linear-gradient(to right, #5d72c3, #1c1b79);
}

.pie-form h5,
.pie-form a {
    font-weight: bold;
    margin-left: 2em;
    color: white;
}

.pie-form a {
    margin-top: 1.3em;
}

.pie-pagina-email {

    background-image: url(../img/correo_50.jpeg);
    background-repeat: no-repeat;
    height: 5em;
}

.pie-pagina-email #email {
    display: block;
    margin-left: 3em;
    font-size: 0.8em;
}

.pie-pagina a {
    text-decoration: none;
}

.pie-pagina-address {

    background-image: url(../img/punto-interes_50.jpeg);
    background-repeat: no-repeat;
}

.pie-pagina-address #address {
    display: block;
    margin-left: 3em;
    font-size: 0.8em;
}
